@media screen and(max-width:1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
     
    }

    .about-containers{
        flex-wrap: wrap;
    }
    .prof {
       
        /* Adjust styles for screens up to 600px wide */
        transform: translate(-30%, -10%);
    }

    .prof-text {
        /* Adjust styles for screens up to 600px wide */
        transform: translate(-30%, 60%);
    }
 
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #hamburger-nav,
    .logo {
        font-size: 1.5rem;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    .prof {
        width: 25%;
        height: auto;
        /* Center horizontally and vertically */
        position: absolute;
        top: 30%;
        left: 0%;
        transform: translate(30%, 30%);
    }

    .prof-text {
        /* Center horizontally and vertically */
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(30%, 50%);
    }
}
@media screen and (max-width: 600px){
   #contact, footer{
    height: 40vh;
    }
 
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-cotainer{
       text-align: justify;
    }
 
    #profile{
        height: 73vh;
        margin-bottom: 0;
    }
    .prof-text {
        /* Adjust styles for screens up to 1400px wide */
        transform: translate(50%, 60%);
    }
    .profile-bg {
        background-color:  rgba(105, 40, 40, 0.849);
        height: 80%; /* Make sure the background covers the full height */
        border-radius: 0; /* Remove border-radius on small screens if not needed */
    }

    .section__pic-container,
    .prof {
        width: 100%; /* Make sure images take full width on small screens */
        margin: 0; /* Remove margin for full width */
    }

    .prof {
      
        width: 40%;
        transform: translate(20%, -60%); /* Reset transform for small screens */
    }

    .prof-text {
        
        transform: translate(10%, -50%); /* Reset transform for small screens */
        text-align: center; /* Center text on small screens */
    }

    .prof-texts1{
        margin-top: 60px;
        /* margin-left: -118px; */  color: white;
        transform: translate(-258px, 26px);
    }
    .prof-texts2{
        color: white;
        margin: 0;
        transform: translate(-28px, -8px);
    }
    
    .prof-texts3   {
        margin-bottom: 11px;
        transform: translate(-450px, 19px);
        width: 892px;
    }
    .prof-texts4 {
        /* margin-top: 100px; */   
        width: 367px;
        margin-left: -40px;
        transform: translate(-134px, 0px);
    }
    .hamburger-icon {
        transform: translate(0px, 0px);
    }
    
}
 